<div fxLayout="row">
  <div class="form-progress-bar-wrapper">
    <div
      class="form-progress-bar"
      [ngStyle]="{ width: width }"
      style="height: 24px"
    ></div>
  </div>
  <form fxLayout="column" [formGroup]="docForm">
    <div>
      <label for="documentName"
        >Document Name {{ docForm.controls["documentName"].valid }}</label
      >
      <input
        name="documentName"
        id="documentName"
        type="text "
        formControlName="documentName"
      />
    </div>
    <div>
      <label for="documentType">Document Type</label>
      <select
        name="documentType"
        formControlName="documentType"
        id="documentType"
      >
        <option *ngFor="let option of docTypes">{{ option }}</option>
      </select>
    </div>
    <div>
      <label for="category">Category</label>
      <select name="category" formControlName="category" id="category">
        <option *ngFor="let option of category">{{ option }}</option>
      </select>
    </div>
    <div>
      <label for="email">Email</label>
      <input name="email" id="email" type="email" formControlName="email" />
    </div>
    <div>
      <button (click)="submit()">Submit</button>
    </div>
  </form>
</div>
